* 
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.table__header{
    background-color: #ffac78;
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    height: 7vh;
    text-align: center;
}
.table__body{
    width: 100%;
    height: 90vh;
    text-align: center;
}
h1
{
    font-size: 30px;
    font-weight: 800;
}
table, th, td
{
    padding: 1rem;
    border-radius: 15px;
}
th
{
    background-color: #fbd3bb;
    font-weight: 700;
    width: auto;
}
td
{
    font-weight: 500;
}
div.table
{
    width: 100%;
    height: 100%;
    background-color: #fef4ee;
    box-shadow: 0 .4rem .8rem #0005;
    
}

table
{
    width: 100%;
}

.table__body::-webkit-scrollbar-thumb
{
    border-radius: .5rem;
    background-color: #fac3a1;
    visibility: hidden;
}
.table__body:hover::-webkit-scrollbar-thumb
{
    border-radius: .5rem;
    background-color: #fac3a1;
    visibility: visible;
}