<div class="table">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
      </style>
    <section class="table__header">
        <h1>HOTELES</h1>
        <div><button class="add" (click)="openModal()">Agregar</button></div>
    </section>
    <section class="table__body">
        <table>
            <thead>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Ubicacion</th>
                <th>Clase</th>
                <th>Estado</th>
                <th>Acciones</th>
            </thead>
            <tbody *ngFor="let h of hotels">
                <td>{{h.hotelName}}</td>
                <td>{{h.hotelDescription}}</td>
                <td>{{h.location.locationDescription}}</td>
                <td>{{h.hotelClass.hotelClassDescription}}</td>
                <td>{{h.hotelStatus.statusDescription}}</td>
                <td class="buttons">
                    <div><button class="edit"><img src="./../../../assets/ed.svg" alt=""></button></div>
                    <div><button class="details"><img src="./../../../assets/de.svg" alt=""></button></div>
                </td>
            </tbody>
        </table>
    </section>
    <div class="modal" *ngIf="modalSwitch == true">
        <app-modal></app-modal>
    </div>    

</div>

