<div class="table">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
      </style>
    <section class="table__header">
        <h1>IMAGENES DE HOTELES</h1>
        <div><button class="add" (click)="openModal()">Agregar</button></div>
    </section>
    <div class="modal" *ngIf="modalSwitch == true">
        <app-modalhotel></app-modalhotel>
    </div>  
    <section class="table__body">  
        <table>
            <thead>
                <th>Hotel</th>
                <th>Imagen</th>
            </thead>
            <tbody *ngFor="let h of hotelimages">
                <td>{{h.hotel}}</td>
                <td>{{h.imageURL}}</td>
                <td class="buttons">
                    <div><button class="edit"><img src="./../../../assets/ed.svg" alt=""></button></div>
                    <!-- <div><button class="details"><img src="./../../../assets/de.svg" alt=""></button></div> -->
                </td>
            </tbody>
        </table>
    </section>
</div>
