<div class="header">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
      </style>
    <div class="navs">
        <div class="firstnav">
            <ul>
                <li class="logo">
                    <a href="">
                        <h2>TestFrontEnd</h2>
                    </a>
                </li>
                <li class="text">
                    <p>Encuentra tu hotel y disfruta de unas vacaciones increibles!</p>
                </li>
                <li class="boton">
                    <button href="">Iniciar sesion</button>
                </li>
            </ul>           
        </div>
        <div class="secondnav">
            <div class="uno">
                
                <input class="uno" type="text" placeholder="¿A donde vas?">
            </div>
            <div class="dos">
                <input class="dos" type="text" placeholder="Llegada">
            </div>
            <div class="tres">
                <input class="tres" type="text" placeholder="Salida">
            </div>
            <div class="cuatro">
                <input class="cuatro" type="text" placeholder="¿Quienes?">
            </div>
            <div class="boton">
                <button>Buscar</button>
            </div>
        </div>
    </div>
</div>