.header
{
    font-family: 'Montserrat', sans-serif;
    .navs
    {
        .firstnav
        {
            border-bottom: 1px solid rgba(0, 0, 0, 0.164);
            width: 100%;
            ul
            {
                display: flex;
                flex-direction: row nowrap;
                justify-content: space-around;
                align-items: center;
                list-style: none;
                li
                {
                    a
                    {
                        text-decoration: none;
                        h2
                        {
                            color: #f79d65;
                        }
                    }
                    
                    p
                    {
                        color: rgba(0, 0, 0, 0.377);
                        font-weight: 900;
                    }
                    button{
                        border: 1px solid #f79d65;
                        height: 40px;
                        width: 150px;
                        border-radius: 25px;
                        font-weight: 700;
                        font-size: 13px;
                        color: #f79d65;
                    }
                    button:hover
                    {
                       color: white;
                       background-color: #f79d65;
                    }
  
                }
            
            }
        }
        .secondnav
        {
            border-bottom: 1px solid rgba(0, 0, 0, 0.164);
            width: 100%;
            margin: 5px;
            justify-content: center;
            text-align: center;
            font-family: 'Montserrat', sans-serif;
            display: flex;
            flex-direction: row;
            align-items: center;
            input
            {
                font-weight: 600;
                border: 1px solid rgba(0, 0, 0, 0.151);
                height: 50px;
                position: relative;
                padding-left:35px;
            }
            input:hover
            {
                border-color:#f79d65;
            }
           
            input:focus
            {
                opacity: 50%;
            }
           .uno
           {
               position: relative;
               border-top-left-radius: 25px;
               border-bottom-left-radius: 25px;
               width: 300px;
               img
               {
                position: absolute;
                margin-top: -12%;
                margin-left: -45%;
               }
            }
           .dos
           {
               position: relative;
               width: 150px;
               img
               {
                position: absolute;
                margin-top: -24%;
                margin-left: -45%;
               }
            }
           .tres
           {
               position: relative;
               width: 150px;
               img
               {
                position: absolute;
                margin-top: -24%;
                margin-left: -45%;
               }
              
            }
           .cuatro
           {
               position: relative;
               border-top-right-radius: 25px;
               border-bottom-right-radius: 25px;
               width: 250px;
               img
               {
                position: absolute;
                margin-top: -15%;
                margin-left: -45%;
               }
            }
           .boton
           {
            padding: 45px;
               button
               {
                   border: none;
                   border-radius: 25px;  
                   background-color: #f79d65;
                   height: 50px;
                   width: 100px;
                   font-size: 15px;
                   color: white;
                   font-weight: 500;
                }
                button:hover
               {
                  opacity: 89%;
                }
            }
        }
    }
}