<div class="options">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <div class="buttons">
        <div class="uno">
            <button (click)="openMenuH()"><h2>HOTELES</h2></button>
        </div>
        <div class="dos">
            <button><h2>HABITACIONES</h2></button>
        </div>
        <div class="tres">
            <button><h2>RESERVAS</h2></button>
        </div>
    </div>
</div>
