.options
{
    font-family: 'Montserrat', sans-serif;
    .buttons
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        button
        {
             width: 300px;
             height: 150px;
             margin: 15px;
             background-color: #f79d65;
             color: white;
             border-radius: 15px;
             border: none;
        }
        button:hover
        {
             opacity: 90%;
        }
    }
}