<div class="modal">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
    </style>
    <div class="modal__body">
        <div class="tittle">
            <a (click)="closeModal()">X</a>
            <h3>Iniciar sesion</h3>
        </div>
        <form [formGroup]="formLogin" (ngSubmit)="Login()">
        <div class="uno">
            <input type="email" formControlName="email" placeholder="Digite su email">
            <img src="./assets/i1.svg" alt="">
        </div>
        <div class="dos">
            <input type="password" formControlName="userPassword" placeholder="Digite su contraseña">
            <img src="./assets/i4.svg" alt="">
        </div>
        <br>
        <div class="boton">
            <button [disabled]="!formLogin.valid">Ingresar</button>
        </div>
    </form>
    </div>

</div>
